[flake8]
max-line-length = 120
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv,
    .mypy_cache,
    .pytest_cache,
    .ruff_cache,
    node_modules,
    static,
    templates

per-file-ignores =
    tests/test_app.py:E302
